table {
	border: 1px solid lightgray;
	width: 100%;
}

tbody {
	border-bottom: 1px solid lightgray;
}

th {
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding: 2px 4px;
}

tfoot {
	color: gray;
}

tfoot th {
	font-weight: normal;
}

.table-container {
	padding: 10px;

	p + * {
		margin-top: 10px;
	}

	.table-title {
		font-size: 20px;
		font-weight: 700;
		color: #0D99FF;
		margin-bottom: 10px;
	}

	img {
		width: 50px;
		aspect-ratio: 1;
	}
}