.main-layout-container {
	display: flex;
	min-height: 100vh;
	padding: 30px 20px;

	.sidebar-container {
		width: 250px;
		flex-grow: 0;
		border-right: 5px solid #0D99FF;
	}

	.main-layout-outlet {
		flex-grow: 4;
	}
}